@import "tailwindcss";

/* ^=====custom utilities */

@layer components {
  .btn {
    @apply bg-[#b5a2ea] border border-[#b5a2ea] cursor-pointer rounded-lg font-semibold  text-[12px] uppercase tracking-widest text-black hover:text-[#595170] transition-all duration-500 hover:bg-white ;
  }
  .input-res{
    @apply border border-slate-300/90 outline-none rounded-md px-2 py-[6px] focus:shadow focus:shadow-blue-200 w-full mt-2
  }
  .label{
    @apply text-sm font-semibold text-gray-600
  }
  .form-container{
    @apply p-4 shadow-md rounded-lg border border-slate-300/50 mx-2 mt-4
  }
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.Summery ul {
  list-style:disc
  ;
  list-style-position: inside;
 
}
.Summery ol{
  list-style: decimal;
  list-style-position: inside;
 
}

/* ~ container style ======> */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1200px
  }
}

.container-fluid {
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

/* ^=====custom background=======> */

.header-bg {
 background-image: radial-gradient(at top right, #9B76ED 0%, #EB918C 100%);
  
}

.bg-footer {
    background: url("../assets/img/footer-bg1.png")  ;
    background-size: cover;
}
@media(max-width: 767px) {
  .bg-footer {
    background: none;
    background-color: #192057;
  }
} 

.bg-headers {
    background: url("../assets/img/bread-bg\ \(1\).png") no-repeat top left;
      background-size: cover;
}

.bg-gray {

  background-color: #fbfbfb;
}
.bg-blue-rounded-none {
  background: linear-gradient(180deg, #0b77edf5, transparent);
}
.bg-card {
    background-color: black !important;
    background: url("../assets/img/Wave.svg") ;
    background-position: 50% 50%;
    background-size: 260%;
}

/* ~=====under line svg ======>*/
svg .under-line {

      stroke: transparent;
      position: relative;
      z-index: -1;
        stroke-width: 40;
        stroke-dasharray: 1500;
        animation: highlighted-line 10s cubic-bezier(0.29, 1.11, 0.74, 1.04) forwards;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
        fill: none;
}

.process-divider {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, #131b32, #131b32 40%, transparent 40%, transparent 100%);
  background-size: 12px 1px;
  z-index: -1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  animation: slides 5s linear infinite;
}

.process-divider::after {
  content: "\f178";
  font-family: "FontAwesome";
  color: #9B76ED;
  font-weight: 600;
  position: absolute;
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

@keyframes slides {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
/* *==== auth input style ===== */
.input-1:focus ~ .lap {
  top: -8 !important;
  font-size: 13px;
  color: #9B76ED;
}
.input-1:not(:placeholder-shown) ~ .lap {
  top: -8 !important;
  font-size: 13px;
  color: #9B76ED;
}

.input-1:focus ~.input-animate{
  width: 100%;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* توزيع متساوٍ */
}

.skill-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.skill-name {
  min-width: 70px;
  /* توحيد عرض أسماء المهارات */
  text-align: right;
}

.skill-dots {
  display: flex;
  gap: 3px;
}